:root {
  --background-color: #FBFBFB;
  --text-color: #000000;
  --subtitle-text-color: #9e9e9e;
  --content-text-color: #F6F8F9;
  --content-background-color: #272B33;
  --card-background-color: #3C3E44;
  --primary-color: #97ce4c;
  --primary-dark-color: #264103;
  --secondary-color: #f0e14a;
  --dead-color: #8e44ad;
  --dead-dark-color: #2f0641;
  --unknown-color: #f0932b;
  --unknown-dark-color: #693700;
  --mr-meeseeks-color: #7DDEFE;
  --mr-meeseeks-dark-color: #20373f;


}
